.header-features {
  margin-top: 0px;
  color: midnightblue;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.features-main {
  max-width: 1200px;
  margin: 0 auto;
}

.features-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  object-fit: contain;   
  height: 220px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.features-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* background-color: #222; */
}

.card_title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkcyan;
  background-color: none;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

/* .right {
  float: right;
  font-family: 'Bebas Neue', cursive;
} */

.card_text {
  font-family: 'Roboto';
  color: black;
  background-color: white;
}

.features-p{
  font-size: 15px;
  text-align: justify;
  color: midnightblue;
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
}