  .login-signup-wrapper {
      height: 560px;
      width: 500px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      padding:0 2em;
      border-radius: 5px;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
      overflow: hidden; 
      color:midnightblue;
      background-color: lightblue;
  }
  
  /* Nav buttons */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
    color: midnightblue;
    font-size: 15px;
    background-color: none;
  }
  button {
      font-size: 1.5em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
   
  }
  button:focus {
      outline: 0px;
  }
  button.active {
      padding-bottom: 10px;
      border-bottom: solid 2px midnightblue;
  } 
  
   /* footer: forgot section */
   .forgot-panel {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    border-top: solid 1px rgba(255,255,255,.3);    
}

    /* form styling */
    .form-group input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.5);
    }
    .form-group label {
      text-transform: uppercase;
    }
    input.submit {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        color: midnightblue;
        padding: 8px 0px;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 20px;
        margin-top: 23px;
        background-color: aliceblue;
    
    }

    /*Form positioning and animation */

    form#signupform {
        left:500px;
        top:-230px;
        position:relative;
    }

    .forgot-panel {
        margin-top:-300px;
        color:gray;
    }

    form, .forgot-panel { 
        position: relative;
        transition: all .5s ease;
    }
    .loginBtn, .signupBtn {
        transition: all .5s ease;
        background: none;

    }
