.first-img{
    align-items: center;
    /*justify-content: center;*/
    padding-left: 200px;
    /*height: 650px;
    width: auto;*/
}
.second-img{
    align-items: center;
    justify-content: center;
    padding-left: 120px;
}
.btn-start{
    background-color: darkturquoise;
    color: white;
    outline: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 0 10px;
    width: 150px;
    position: absolute;
    top: 1050px;
    left: 400px;  
}
.btn-start:hover{
    color: black;
    background-color: powderblue;
  }

.home-fact-area {
    background-color: #00CED1;
    background: -webkit-linear-gradient(
-45deg
,#00CED1,#008B8B);
    background: -moz-linear-gradient(-45deg,#00CED1 0,#008B8B 100%);
    background: -ms-linear-gradient(-45deg,#00CED1 0,#008B8B 100%);
    background: -o-linear-gradient(-45deg,#00CED1 0,#008B8B 100%);
    background: linear-gradient(
-45deg
,#00CED1,#008B8B);
    /*color: #fff;*/
    padding: 15px 0;
    margin-bottom: 50px;
}

.container-lg {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: white;
}
/*@media (max-width: 767px)
.home-fact-box {
    margin: 15px 0;
}*/

/**, ::after, ::before {
    box-sizing: border-box;
}*/

.home-fact-box i {
    font-size: 47px;
    margin-top: 8px;
}
.home-fact-box .text-box {
    padding: 10px 0 10px 63px;
}
.text-box{
    color: white;
}