.item-center {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
}

.heading1{
    color: black;
    font-family: sans-serif;
    text-align: center;
}